<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Counter Assignment</title>
</head>
<body>
   <h1 class="bg-primary text-light text-center col-6 my-5 mx-auto">Counter</h1>
   <p class="text-center col-6 my-5 mx-auto">{{session['count']}} time(s)</p>
   <div class="col-3 flex justify-around mx-auto">
       <a href="/" class="btn btn-primary">Click</a>
       <a href="/reset" class="btn btn-danger">Reset</a>
   </div>
</body>
</html>